In [15]:
from vqf.preprocessing import *
from itertools import product
import pandas as pd
from IPython.display import display
from sympy import simplify

In [9]:
p = 11
q = 7
m = p * q

_, _, _, clauses = create_clauses(m, apply_preprocessing=False, verbose=False)

for c in clauses:
    display(c)

p_0*q_0 - 1

p_0*q_1 + p_1*q_0 - 2*z_1_2 - 4*z_1_3 - 8*z_1_4 - 16*z_1_5 - 32*z_1_6

p_0*q_2 + p_1*q_1 + p_2*q_0 + z_1_2 - 2*z_2_3 - 4*z_2_4 - 8*z_2_5 - 16*z_2_6 - 1

p_0*q_3 + p_1*q_2 + p_2*q_1 + p_3*q_0 + z_1_3 + z_2_3 - 2*z_3_4 - 4*z_3_5 - 8*z_3_6 - 1

p_1*q_3 + p_2*q_2 + p_3*q_1 + p_4*q_0 + z_1_4 + z_2_4 + z_3_4 - 2*z_4_5 - 4*z_4_6

p_2*q_3 + p_3*q_2 + p_4*q_1 + p_5*q_0 + z_1_5 + z_2_5 + z_3_5 + z_4_5 - 2*z_5_6

p_3*q_3 + p_4*q_2 + p_5*q_1 + p_6*q_0 + z_1_6 + z_2_6 + z_3_6 + z_4_6 + z_5_6 - 1

p_4*q_3 + p_5*q_2 + p_6*q_1

p_5*q_3 + p_6*q_2

p_6*q_3

In [10]:
_, _, _, simplified_clauses = create_clauses(m, apply_preprocessing=True, verbose=False)
for c in simplified_clauses:
    display(c)

0

0

p_2 + 2*q_1 + q_2 - 2*z_2_3 - 1

p_2*q_1 + p_3 + q_1*q_2 + q_3 + z_2_3 - 2*z_3_4 - 4*z_3_5 - 1

p_2*q_2 + p_3*q_1 + p_4 + q_1*q_3 + z_3_4 - 2*z_4_5 - 4*z_4_6

p_2*q_3 + p_3*q_2 + p_4*q_1 + p_5 + z_3_5 + z_4_5 - 2*z_5_6

p_3*q_3 + p_4*q_2 + p_5*q_1 + p_6 + z_4_6 + z_5_6 - 1

p_4*q_3 + p_5*q_2 + p_6*q_1

p_5*q_3 + p_6*q_2

p_6*q_3

In [11]:
def reduce_space(expr):
    variables = list(expr.free_symbols)
    values = product(range(2), repeat=len(variables))
    reduced_space = []
    for v in values:
        subs_dict = dict(zip(variables, v))
        subs_expr = expr.subs(subs_dict)
        if simplify(subs_expr) == 0:
            reduced_space.append(v)
    return variables, reduced_space

frames = []
for c in simplified_clauses:
    if c != 0:
        variables, reduced_space = reduce_space(c)
        df = pd.DataFrame(reduced_space, columns=variables)
        frames.append(df)

In [12]:
for df in frames:
    display(df)

   z_2_3  p_2  q_2  q_1
0      0    0    1    0
1      0    1    0    0
2      1    0    1    1
3      1    1    0    1

    p_3  z_2_3  q_1  p_2  q_3  q_2  z_3_5  z_3_4
0     0      0    0    0    1    0      0      0
1     0      0    0    0    1    1      0      0
2     0      0    0    1    1    0      0      0
3     0      0    0    1    1    1      0      0
4     0      0    1    0    0    1      0      0
5     0      0    1    0    1    0      0      0
6     0      0    1    1    0    0      0      0
7     0      0    1    1    1    1      0      1
8     0      1    0    0    0    0      0      0
9     0      1    0    0    0    1      0      0
10    0      1    0    1    0    0      0      0
11    0      1    0    1    0    1      0      0
12    0      1    1    0    0    0      0      0
13    0      1    1    0    1    1      0      1
14    0      1    1    1    0    1      0      1
15    0      1    1    1    1    0      0      1
16    1      0    0    0    0    0      0      0
17    1      0    0    0    0    1      0      0
18    1      0    0    1    0    0      0      0
19    1      0    0    1    0    1      0      0
20    1      0    1    0    0    0      0      0
21    1      0    1    0    1    1      0      1
22    1      0    1    1    0    1      0      1
23    1      0    1    1    1    0      0      1
24    1      1    0    0    1    0      0      1
25    1      1    0    0    1    1      0      1
26    1      1    0    1    1    0      0      1
27    1      1    0    1    1    1      0      1
28    1      1    1    0    0    1      0      1
29    1      1    1    0    1    0      0      1
30    1      1    1    1    0    0      0      1
31    1      1    1    1    1    1      1      0

    z_4_5  p_3  z_4_6  q_1  p_4  p_2  q_3  q_2  z_3_4
0       0    0      0    0    0    0    0    0      0
1       0    0      0    0    0    0    0    1      0
2       0    0      0    0    0    0    1    0      0
3       0    0      0    0    0    0    1    1      0
4       0    0      0    0    0    1    0    0      0
..    ...  ...    ...  ...  ...  ...  ...  ...    ...
59      1    1      0    1    0    1    0    1      0
60      1    1      0    1    0    1    1    0      0
61      1    1      0    1    1    0    0    0      0
62      1    1      0    1    1    0    0    1      0
63      1    1      0    1    1    1    0    0      0

[64 rows x 9 columns]

     z_4_5  p_3  q_1  p_2  p_4  q_3  z_5_6  q_2  z_3_5  p_5
0        0    0    0    0    0    0      0    0      0    0
1        0    0    0    0    0    0      0    1      0    0
2        0    0    0    0    0    0      1    0      1    1
3        0    0    0    0    0    0      1    1      1    1
4        0    0    0    0    0    1      0    0      0    0
..     ...  ...  ...  ...  ...  ...    ...  ...    ...  ...
193      1    1    1    1    0    0      1    0      0    1
194      1    1    1    1    0    0      1    0      1    0
195      1    1    1    1    0    0      1    1      0    0
196      1    1    1    1    0    1      1    0      0    0
197      1    1    1    1    1    0      1    0      0    0

[198 rows x 10 columns]

     p_3  z_4_6  q_1  p_4  q_3  p_6  z_5_6  q_2  p_5
0      0      0    0    0    0    0      1    0    0
1      0      0    0    0    0    0      1    0    1
2      0      0    0    0    0    0      1    1    0
3      0      0    0    0    0    0      1    1    1
4      0      0    0    0    0    1      0    0    0
..   ...    ...  ...  ...  ...  ...    ...  ...  ...
103    1      1    0    1    0    0      0    0    0
104    1      1    0    1    0    0      0    0    1
105    1      1    1    0    0    0      0    0    0
106    1      1    1    0    0    0      0    1    0
107    1      1    1    1    0    0      0    0    0

[108 rows x 9 columns]

    p_6  q_2  q_1  p_5  p_4  q_3
0     0    0    0    0    0    0
1     0    0    0    0    0    1
2     0    0    0    0    1    0
3     0    0    0    1    0    0
4     0    0    0    1    0    1
5     0    0    0    1    1    0
6     0    0    1    0    0    0
7     0    0    1    0    0    1
8     0    0    1    0    1    0
9     0    0    1    1    0    0
10    0    0    1    1    0    1
11    0    0    1    1    1    0
12    0    1    0    0    0    0
13    0    1    0    0    0    1
14    0    1    0    0    1    0
15    0    1    1    0    0    0
16    0    1    1    0    0    1
17    0    1    1    0    1    0
18    1    0    0    0    0    0
19    1    0    0    0    0    1
20    1    0    0    0    1    0
21    1    0    0    1    0    0
22    1    0    0    1    0    1
23    1    0    0    1    1    0
24    1    1    0    0    0    0
25    1    1    0    0    0    1
26    1    1    0    0    1    0

   p_6  p_5  q_2  q_3
0    0    0    0    0
1    0    0    0    1
2    0    0    1    0
3    0    0    1    1
4    0    1    0    0
5    0    1    1    0
6    1    0    0    0
7    1    0    0    1
8    1    1    0    0

   p_6  q_3
0    0    0
1    0    1
2    1    0

In [13]:
def get_classical_energy(clauses):
    """
    Computes the classical energy of the given list of clauses.

    The classical energy is defined as the sum of the squares of the values of each clause in the list.

    Args:
    ------
    
        `clauses` (`list`): A list of clauses, each represented as a boolean expression.

    Returns:
    --------
    
        A simplified boolean expression representing the classical energy of the given clauses.
    """
    energy = sum([clauses[i] ** 2 for i in range(len(clauses))])
    energy = simplify_clause(energy, known_expressions={})
    return energy

energy = get_classical_energy(simplified_clauses)
energy

2*p_2*p_3*q_1*q_2 + 2*p_2*p_3*q_1 + 2*p_2*p_3*q_2*q_3 + 2*p_2*p_4*q_1*q_3 + 2*p_2*p_4*q_2 + 2*p_2*p_5*q_3 + 2*p_2*q_1*q_2*q_3 + 2*p_2*q_1*q_2 + 2*p_2*q_1*q_3 + 2*p_2*q_1*z_2_3 - 4*p_2*q_1*z_3_4 - 8*p_2*q_1*z_3_5 + 3*p_2*q_1 + 2*p_2*q_2*z_3_4 - 4*p_2*q_2*z_4_5 - 8*p_2*q_2*z_4_6 + 3*p_2*q_2 + 2*p_2*q_3*z_3_5 + 2*p_2*q_3*z_4_5 - 4*p_2*q_3*z_5_6 + p_2*q_3 - 4*p_2*z_2_3 - p_2 + 2*p_3*p_4*q_1*q_2 + 2*p_3*p_4*q_1 + 2*p_3*p_4*q_2*q_3 + 2*p_3*p_5*q_1*q_3 + 2*p_3*p_5*q_2 + 2*p_3*p_6*q_3 + 2*p_3*q_1*q_2 + 2*p_3*q_1*q_3 + 2*p_3*q_1*z_3_4 - 4*p_3*q_1*z_4_5 - 8*p_3*q_1*z_4_6 + p_3*q_1 + 2*p_3*q_2*z_3_5 + 2*p_3*q_2*z_4_5 - 4*p_3*q_2*z_5_6 + p_3*q_2 + 2*p_3*q_3*z_4_6 + 2*p_3*q_3*z_5_6 + p_3*q_3 + 2*p_3*z_2_3 - 4*p_3*z_3_4 - 8*p_3*z_3_5 - p_3 + 2*p_4*p_5*q_1*q_2 + 2*p_4*p_5*q_1 + 2*p_4*p_5*q_2*q_3 + 2*p_4*p_6*q_1*q_3 + 2*p_4*p_6*q_2 + 2*p_4*q_1*q_3 + 2*p_4*q_1*z_3_5 + 2*p_4*q_1*z_4_5 - 4*p_4*q_1*z_5_6 + p_4*q_1 + 2*p_4*q_2*z_4_6 + 2*p_4*q_2*z_5_6 - p_4*q_2 + p_4*q_3 + 2*p_4*z_3_4 - 4*p_4*z_4_5 - 8*p_4*z_4_6 + p_4 + 2*p_5*p_6*q_1*q_2 + 2*p_5*p_6*q_1 + 2*p_5*p_6*q_2*q_3 + 2*p_5*q_1*z_4_6 + 2*p_5*q_1*z_5_6 - p_5*q_1 + p_5*q_2 + p_5*q_3 + 2*p_5*z_3_5 + 2*p_5*z_4_5 - 4*p_5*z_5_6 + p_5 + p_6*q_1 + p_6*q_2 + p_6*q_3 + 2*p_6*z_4_6 + 2*p_6*z_5_6 - p_6 + 2*q_1*q_2*q_3 + 2*q_1*q_2*z_2_3 - 4*q_1*q_2*z_3_4 - 8*q_1*q_2*z_3_5 + 3*q_1*q_2 + 2*q_1*q_3*z_3_4 - 4*q_1*q_3*z_4_5 - 8*q_1*q_3*z_4_6 + q_1*q_3 - 8*q_1*z_2_3 - 4*q_2*z_2_3 - q_2 + 2*q_3*z_2_3 - 4*q_3*z_3_4 - 8*q_3*z_3_5 - q_3 - 4*z_2_3*z_3_4 - 8*z_2_3*z_3_5 + 7*z_2_3 + 16*z_3_4*z_3_5 - 4*z_3_4*z_4_5 - 8*z_3_4*z_4_6 + 9*z_3_4 + 2*z_3_5*z_4_5 - 4*z_3_5*z_5_6 + 25*z_3_5 + 16*z_4_5*z_4_6 - 4*z_4_5*z_5_6 + 5*z_4_5 + 2*z_4_6*z_5_6 + 15*z_4_6 + 3*z_5_6 + 3

In [14]:
vars, energy_reduced_space = reduce_space(energy)
df = pd.DataFrame(energy_reduced_space, columns=vars)
df

,z_4_5,p_3,z_2_3,z_4_6,q_1,p_4,p_2,q_3,z_3_4,p_6,q_2,z_5_6,z_3_5,p_5
0,0,1,0,0,0,0,1,0,0,1,0,0,0,0
1,1,0,1,0,1,0,1,1,1,0,0,1,0,0
2,1,1,1,0,1,0,0,0,1,0,1,1,0,0